In [2]:
import gspread

#gc = gspread.service_account_from_dict(credentials)

gc = gspread.service_account("credentials.json")

In [3]:
sh = gc.open("project_1")

print(sh.sheet1.get('A1:G1'))

[['ID', 'Email2', 'First Name', 'Last Name', 'Department', 'School', 'Are you a hackathon participant or attendee?']]

In [4]:
## Sharing the spreadsheet with another user

sh.share('masterdiamond008@gmail.com', perm_type='user', role='writer')

In [5]:
sheet = sh.sheet1

In [6]:
data = sheet.get_all_records()

In [7]:
import pandas as pd

df = pd.DataFrame(data)

In [8]:
df.head()

,ID,Email2,First Name,Last Name,Department,School,Are you a hackathon participant or attendee?,How did you hear about this event?,Attendance
0,1,Olamideosho148@gmail.com,Olamide,Osho,Economics,Obafemi Awolowo University,Attendee,Whatsapp,Present
1,2,abdurahmanridwan02@gmail.com,Ridwan,Abdurahman,Agricultural and environmental engineering,"Obafemi awolowo university, ile ife",Hackathon Participant,Whatsapp,
2,3,Emmanueldan402@gmail.com,Daniel,Emmanuel,Microbiology,Obafemi Awolowo University,Attendee,A friend,Present
3,4,otunpraise@gmail.com,Praise-Him,Otun,Demography and social statistics,Obafemi Awolowo University,Attendee,Saw our flyers,
4,5,hardejumodaniel@gmail.com,DANIEL,ADEJUMO,AGRICULTURAL AND ENVIRONMENTAL ENGINEERING,OBAFEMI AWOLOWO UNIVERSITY,Attendee,Whatsapp,

In [9]:
worksheet_list = sh.worksheets()

worksheet_list

In [20]:
#Creating a New Worksheet to Get Data from the first worksheet

#sheet_2 = sh.add_worksheet(title = 'New Worksheet', rows = 100, cols = 10)

In [21]:
#sheet_2 = worksheet

In [10]:
values_list = sheet.row_values(1)

values_list

['ID',
 'Email2',
 'First Name',
 'Last Name',
 'Department',
 'School',
 'Are you a hackathon participant or attendee?',
 'How did you hear about this event?',
 'Attendance']

In [13]:
#get values as list of key pair values

all_values = sheet.get_all_records()

In [14]:
# get values as 2D list
all_values_list = sheet.get_all_values()